/*
 * @Author: sunsan 2390864551@qq.com
 * @Date: 2023-05-29 22:09:41
 * @LastEditors: sunsan 2390864551@qq.com
 * @LastEditTime: 2023-08-10 16:48:44
 * @FilePath: \resume_analysis\src\style\base.scss
 * @Description: 主题样式
 */
$primary-color: #6873E3;
$second-color:#F0F1F8;
$text-color:#414141